body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1322px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1322px;
  height:112px;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1322px;
  height:112px;
  display:flex;
}
#u2527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:106px;
  width:205px;
  height:647px;
  display:flex;
  color:#D7D7D7;
}
#u2528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:672px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:107px;
  width:1076px;
  height:672px;
  display:flex;
  color:#D7D7D7;
}
#u2529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:33px;
  width:159px;
  height:45px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u2530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:322px;
  width:920px;
  height:90px;
}
#u2533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:184px;
  height:30px;
  display:flex;
  color:#555555;
}
#u2538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:30px;
  width:184px;
  height:30px;
  display:flex;
  color:#555555;
}
#u2539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:30px;
  width:184px;
  height:30px;
  display:flex;
  color:#555555;
}
#u2540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:30px;
  width:184px;
  height:30px;
  display:flex;
  color:#555555;
}
#u2541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:30px;
  width:184px;
  height:30px;
  display:flex;
  color:#555555;
}
#u2542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:184px;
  height:30px;
  display:flex;
  color:#555555;
}
#u2543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:60px;
  width:184px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:60px;
  width:184px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:60px;
  width:184px;
  height:30px;
  display:flex;
  color:#555555;
}
#u2546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:60px;
  width:184px;
  height:30px;
  display:flex;
  color:#555555;
}
#u2547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:322px;
  width:131px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:615px;
  width:1051px;
  height:90px;
}
#u2550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:0px;
  width:188px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:0px;
  width:186px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:0px;
  width:186px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:0px;
  width:182px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:0px;
  width:177px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:132px;
  height:30px;
  display:flex;
  color:#555555;
}
#u2556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:30px;
  width:188px;
  height:30px;
  display:flex;
  color:#555555;
}
#u2557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:30px;
  width:186px;
  height:30px;
  display:flex;
  color:#555555;
}
#u2558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:30px;
  width:186px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:30px;
  width:182px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:30px;
  width:177px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:132px;
  height:30px;
  display:flex;
  color:#555555;
}
#u2562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:60px;
  width:188px;
  height:30px;
  display:flex;
  color:#555555;
}
#u2563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:60px;
  width:186px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:60px;
  width:186px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:60px;
  width:182px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:60px;
  width:177px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u2567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:519px;
  width:117px;
  height:27px;
  display:flex;
}
#u2568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:465px;
  width:117px;
  height:27px;
  display:flex;
}
#u2569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:519px;
  width:117px;
  height:27px;
  display:flex;
}
#u2570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:573px;
  width:115px;
  height:27px;
  display:flex;
}
#u2571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:533px;
  width:0px;
  height:0px;
}
#u2572_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:27px;
  height:10px;
}
#u2572_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-59px;
  width:10px;
  height:64px;
}
#u2572_seg2 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-59px;
  width:39px;
  height:10px;
}
#u2572_seg3 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-64px;
  width:20px;
  height:20px;
}
#u2572_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-41px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:533px;
  width:0px;
  height:0px;
}
#u2573_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:61px;
  height:10px;
}
#u2573_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2573_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:533px;
  width:0px;
  height:0px;
}
#u2574_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:27px;
  height:10px;
}
#u2574_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-5px;
  width:10px;
  height:64px;
}
#u2574_seg2 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:49px;
  width:39px;
  height:10px;
}
#u2574_seg3 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:44px;
  width:20px;
  height:20px;
}
#u2574_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:25px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:467px;
  width:32px;
  height:24px;
  display:flex;
}
#u2575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:521px;
  width:32px;
  height:24px;
  display:flex;
}
#u2576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:119px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2577 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2577_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:151px;
  width:1051px;
  height:90px;
}
#u2579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:0px;
  width:263px;
  height:30px;
  display:flex;
  text-align:left;
}
#u2580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:0px;
  width:263px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:0px;
  width:262px;
  height:30px;
  display:flex;
  text-align:left;
}
#u2582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:263px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:30px;
  width:263px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:30px;
  width:263px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:30px;
  width:262px;
  height:30px;
  display:flex;
  text-align:left;
}
#u2586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:263px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:60px;
  width:263px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:60px;
  width:263px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:60px;
  width:262px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:283px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2591 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2591_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:454px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2592 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2592_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:129px;
  width:99px;
  height:60px;
}
#u2593_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2595_img.selected {
}
#u2595.selected {
}
#u2595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
  display:flex;
}
#u2596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2596_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2594_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
  display:flex;
}
#u2598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2598_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
  display:flex;
}
#u2600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2600_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
